{{! This Source Code Form is subject to the terms of the Mozilla Public }}
{{! License, v. 2.0. If a copy of the MPL was not distributed with this }}
{{! file, You can obtain one at http://mozilla.org/MPL/2.0/. }}
<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.7446 29.4902V29.4985C20.3043 30.4924 19.8136 31.4569 19.2684 32.3881H19.2411L18.7441 32.3255L16.1041 31.9747L16.0265 31.9664V31.9601C16.0349 30.7575 15.9594 29.5487 15.7875 28.3502C15.6134 27.1121 15.3387 25.8803 14.9655 24.6631C14.9655 24.6569 14.9634 24.6506 14.9592 24.6443C14.9571 24.6255 14.9466 24.6088 14.9403 24.59C13.9527 21.6295 12.3485 18.8923 10.1908 16.531L14.3993 14.1404C15.9175 15.9402 17.1694 17.8965 18.1486 19.9509C18.9371 21.6065 19.5536 23.3269 19.9981 25.087C20.2749 26.1914 20.4867 27.3126 20.6272 28.44C20.6691 28.7636 20.7048 29.0852 20.7362 29.4088C20.7383 29.4359 20.7383 29.4589 20.7425 29.486L20.7446 29.4902Z" fill="#FAAE3A"/>
                    <path d="M9.25769 27.916C8.86976 28.9537 8.38957 29.9433 7.8234 30.8786H7.8192L6.33249 30.6803C6.33249 30.6114 6.33249 30.5404 6.33249 30.4715C6.32829 29.5069 6.23603 28.5424 6.0515 27.5861C5.94665 27.0329 5.80826 26.4838 5.6426 25.9367C5.6384 25.9242 5.63631 25.9117 5.63211 25.8992L5.62792 25.8887C5.01772 24.0222 4.02168 22.2935 2.67755 20.8028L5.40145 19.2557C6.12489 20.1305 6.74977 21.0617 7.2782 22.0346C8.00164 23.3624 8.54684 24.7676 8.9117 26.2165C9.05219 26.7698 9.16333 27.3293 9.2514 27.891C9.2535 27.9014 9.25559 27.9118 9.25559 27.9202L9.25769 27.916Z" fill="#4DBB84"/>
                    <path d="M38.9941 34.9979L31.462 34.002C31.4913 30.1917 30.9524 26.3731 29.8117 22.6442C29.8033 22.6171 29.7928 22.5941 29.7865 22.567C29.7802 22.5544 29.7781 22.544 29.774 22.5273C29.4846 21.6713 29.1617 20.8257 28.8073 19.9885C27.1989 16.1991 24.972 12.7521 22.181 9.71634L28.0692 6.37163C28.2851 6.24845 28.5053 6.12527 28.7234 6H28.7255C31.202 8.88956 33.2234 12.0359 34.8003 15.3577C34.8506 15.4662 34.903 15.5727 34.9533 15.6855C35.0037 15.794 35.0561 15.9005 35.1043 16.0091C36.178 18.3704 37.0272 20.8111 37.6563 23.3081C38.6146 27.1184 39.057 31.0519 38.9941 35V34.9979Z" fill="#ED306E"/>
                    <path d="M29.774 22.5273C29.2791 26.3334 28.2222 29.9787 26.6034 33.361L19.2663 32.3881H19.239L18.7421 32.3255C18.7421 32.3255 18.7442 32.3234 18.7442 32.3192C19.2747 31.4068 19.757 30.4652 20.1868 29.4902C20.2414 29.3754 20.2896 29.2584 20.3378 29.1415C20.3588 29.0956 20.3798 29.0517 20.3986 29.0037C20.4762 28.8179 20.5517 28.6321 20.6272 28.4421C21.4534 26.3626 22.0426 24.1641 22.3634 21.88C22.3718 21.8132 22.3823 21.7485 22.3865 21.6817C22.4054 21.5648 22.4159 21.4479 22.4326 21.3268C22.8604 17.6167 22.5648 13.7792 21.5708 10.0587H21.5771L22.1789 9.71423C24.9699 12.7499 27.1948 16.197 28.8052 19.9864C29.1617 20.8236 29.4825 21.6692 29.7719 22.5252L29.774 22.5273Z" fill="url(#paint0_linear_16_9)" style="mix-blend-mode:multiply"/>
                    <path d="M14.9425 24.5901C14.6279 27.037 13.9464 29.3775 12.9042 31.5509L9.39609 31.0874L8.47974 30.9663L7.8255 30.8786C8.39167 29.9454 8.87186 28.9536 9.25979 27.9202V27.9223C9.27238 27.8868 9.28496 27.8554 9.29544 27.8199C9.32061 27.751 9.34577 27.6822 9.36883 27.6133C9.38771 27.559 9.40658 27.5047 9.42545 27.4483C9.43174 27.4337 9.43594 27.4191 9.44013 27.4045C10.5263 24.1558 10.6375 20.5814 9.81758 17.1344C9.80709 17.0989 9.7987 17.0634 9.79032 17.0259C9.77144 16.9486 9.75257 16.8693 9.7337 16.792L10.1929 16.531C12.3486 18.8903 13.9527 21.6274 14.9425 24.588V24.5901Z" fill="url(#paint1_linear_16_9)" style="mix-blend-mode:multiply"/>
                    <path d="M5.62791 25.8866C5.4245 27.4775 4.98205 28.9975 4.30475 30.4089L1.42987 30.0289L1 29.9725C1.16356 29.7094 1.31454 29.4401 1.45084 29.1666C2.69641 26.6925 2.95852 23.7925 2.2938 21.0178L2.67963 20.7986C4.02376 22.2914 5.0198 24.0201 5.63 25.8845L5.62791 25.8866Z" fill="url(#paint2_linear_16_9)" style="mix-blend-mode:multiply"/>
                    <defs>
                        <linearGradient id="paint0_linear_16_9" x1="20.5" y1="29.5" x2="27.9456" y2="16.9676" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#D32B62"/>
                            <stop offset="1" stop-color="#7E193A"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_16_9" x1="8" y1="29.75" x2="17.4533" y2="18.71" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#DF9C34"/>
                            <stop offset="1" stop-color="#7D561D"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_16_9" x1="-1.40517" y1="31.4382" x2="6.45541" y2="20.9665" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#449E72"/>
                            <stop offset="1" stop-color="#215038"/>
                        </linearGradient>
                    </defs>
                </svg>
                &nbsp;
                {{site.title}}
            </a>
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <input id="search-input" placeholder="Search docs" onfocusout="this.value=''"
                        style="font-size: 16px;" />
                </div>
            </div>
            <div class="header-btn">
                <a class="header-link" href="https://amplicode.io/" target="_blank">Go to Amplicode website</a>
            </div>
        </div>
    </nav>
</header>